<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Order Summary</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Can I Take Your Order?</h1>
    <form action="{% url 'order_summary' %}" method="GET">
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if total is not None %}
        <h1>Total: ${{ total }}</h1>
    {% endif %}
</body>
</html>
